[submodule "QSE-Spider-Indexer"]
	path = QSE-Spider-Indexer
	url = git@github.com:deweiliu/QSE-Spider-Indexer.git
[submodule "QSE-Searching"]
	path = QSE-Searching
	url = git@github.com:deweiliu/QSE-Searching.git
[submodule "QSE-Terraform"]
	path = QSE-Terraform
	url = git@github.com:deweiliu/QSE-Terraform.git
[submodule "QSE-Advertisements"]
	path = QSE-Advertisements
	url = git@github.com:deweiliu/QSE-Advertisements.git
